<a href="/paginainicial"> <button class="btn btn-primary">Voltar</button></a>
<h1>Meus Animais</h1>
<br>
<br>
<style>
    body {
        background: linear-gradient(to right, rgba(142, 45, 226, 0.5), rgba(74, 0, 224, 0.5));


    }
</style>
{{#each most}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">ESPÉCIE</th>
            <th scope="col">RAÇA</th>
            <th scope="col">SEXO</th>
            <th scope="col">#</th>
            <th scope="col">#</th>


        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{especie}}</td>
            <td>{{raca}}</td>
            <td>{{sexo}}</td>

            <td><a href="/alterar/{{id}}"></a><button id="editarBtn-{{id}}" type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#RegistroModal-{{id}}">Editar</button></a></td>
            <td><a href="/deletar/{{id}}"><button type="button" class="btn btn-danger">Deletar</button></a></td>

            <form action="/alterar/{{{id}}}" method="post" id="up-{{id}}">
                <div class="modal fade" id="RegistroModal-{{id}}" tabindex="-1"
                    aria-labelledby="RegistroModalLabel-{{id}}" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="RegistroModalLabel">Registro</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-grup">
                                            <label for="">Nome</label>
                                            <input id="inputnome" name="nome" type="text" class="form-control"
                                                placeholder="digite o nome do animal..." value="{{nome}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-grup">
                                            <label for="">Espécie</label>
                                            <input id="inputespecie" name="especie" type="text" class="form-control"
                                                placeholder="digite a especie..." value="{{especie}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-grup">
                                            <label for="">Raça</label>
                                            <input id="inputraca" name="raca" type="text" class="form-control"
                                                placeholder="digite a raça..." value="{{raca}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-grup">
                                            <label for="">Sexo</label>
                                            <input id="inputsexo" name="sexo" type="text" class="form-control"
                                                placeholder="digite o sexo..." value="{{sexo}}">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </tr>
    </tbody>
</table>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

{{/each}}